body {
  font-family: sans-serif;
  padding: 30px;
  background-color: lightgray;
}

.balloons {
  display: grid;
  /* 1fr 1fr 1fr 1fr; /*  grid-template-columns: repeat(4,1fr; funkar också därför jag ahr 4 i rad ananrs läg till eller ta bort fr*/
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.balloon {
  display: flex;
  justify-self: center; /*för att centreara ballongerna i rutan */
  align-items: center; /* för att centrea object i center av rutnät*/
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 500%;
}
.balloon.popped {
  background-color: lightgrey;
  font-size: 30px;
}

.wrapper {
  display: flex align;
  width: 700px;
  margin: 0 auto;
}

.balloon:nth-child(3n) {
  background-color: yellow;
  color: yellow;
}
.balloon:nth-child(3n-1) {
  background-color: blue;
  color: blue;
}

.balloon:nth-child(3n-2) {
  background-color: green;
  color: green;
}

.balloon.popped {
  background-color: lightgrey;
  font-size: 30px;
}

.congratsMessage {
  color: red;
  font-size: 100px;
}
